@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-8 is-offset-2">
                <h3 class="title">E-Mail bestätigt</h3>
                <p class="subtitle">Du hast deine E-Mail erfolgreich besätigt.</p>
            </div>
        </div>
    </div>
</section>
