@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Passwort zurücksetzen Bestätigung";
}

<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-8 is-offset-2">
                <h3 class="title">Passwort zurücksetzen Bestätigung</h3>
                <p class="subtitle">Wir haben dir eine E-Mail mit einem Link zum setzen eines neuen Passworts gesendet.</p>
            </div>
        </div>
    </div>
</section>

