@page
@model LockoutModel
@{
    ViewData["Title"] = "Gesperrt";
}

<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-8 is-offset-2">
                <h3 class="title">Account Gesperrt</h3>
                <p class="subtitle">Dein Account wurde gesperrt, versuche es später erneut.</p>
            </div>
        </div>
    </div>
</section>
