@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-8 is-offset-2">
                <h3 class="title">Abmelden</h3>
                <p class="subtitle">Du wurdest erfolgreich abgemeldet.</p>
            </div>
        </div>
    </div>
</section>