@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-8 is-offset-2">
                <h3 class="title">Passwort zurückgesetzt</h3>
                <p class="subtitle">Du hast dein Passwort erfolgreich zurückgesetzt.<br/><a class="has-text-info" asp-page="./Login">Klick hier um dich anzumelden</a></p>
            </div>
        </div>
    </div>
</section>